.sec {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}


.div {
  background-color: cadetblue;
  padding: 10px;
  border-radius: 10px;
  margin: 0px 10px;
}

span {
  width: 60px;
  height: 60px;
  border-radius: 50%;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  background-color: bisque;
  font-size: bold;  
  font-size: large;

}

.divplus > span {
color: black;
font-size: xx-large;
font-weight: bold;
}

.sp0 {
  background-color: chocolate;
}

.sp1 {
  background-color: rgb(243, 159, 99);
}

.sp2 {
  background-color: rgb(255, 208, 175);
}

.sp3 {
  background-color: chocolate;
}

.sp4 {
  background-color: rgb(175, 150, 133);
}

.sp5 {
  background-color: rgb(138, 79, 40);
}

